<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Working</title>
</head>
<body>
<center>
    <div>
        <a id="NTNN" href="https://github.com/Yash-Varshney-Creativities/Numbers-to-Number-Names">
            <img
                    alt="NTNN"
                    src="https://github.com/Yash-Varshney-Creativities/Yash-Varshney-Creativities/blob/main/1.jpg?raw=true"
                    width="50%"></a>

    </div>
    <a href="https://github.com/Yash-Varshney-Creativities/Motion-Detection"><img
            alt="Motion-Detection"
            src="https://github.com/Yash-Varshney-Creativities/Yash-Varshney-Creativities/blob/main/3.jpg?raw=true"
            width="60%"></a>
    <a href="https://github.com/Yash-Varshney-Creativities/YouTube-Video-Downloader-GUI"><img
            alt="Reddit Logo"
            src="https://github.com/Yash-Varshney-Creativities/Yash-Varshney-Creativities/blob/main/2a.jpg?raw=true"
            width="60%"></a>
</center>
</body>
</html>