<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sent</title>
    <link href="https://raw.githubusercontent.com/Yash-Varshney-Creativities/Yash-Varshney-Creativities/main/AppLogo.ico"
          rel="icon">
</head>
<body style="background-color: rgb(247,247,247); margin: 0px;-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;">
<center>
    <img src="https://github.com/Yash-Varshney-Creativities/Yash-Varshney-Creativities/blob/main/sentsuccessfully.png?raw=true" width="80%">
    <h1 style="color: #0a043c; font-family: Kristen ITC">Your Message is Delivered !</h1>
</center>
</body>
</html>